<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

    {% endfor %}


    <div class="wrapper">
        <div class="wrapper">
                <div class="content">
                    <div class="card">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                    
                            <div class="form-floating mb-3">
                                {{ form.project_name(class="form-control", id="floatingInput", placeholder="Project Name") }}
                                <label for="floatingInput">Project Name</label>
                            </div>

                            <br/>
                            
                            {{ form.submit(class="btn btn-secondary btn-lg", onclick="location.href = {{ url_for('projects') }}" ) }}
                            <div class="d-grid gap-2">
                            <a href="{{ url_for('projects') }}" class="btn btn-danger btn-lg">Cancel</a>
                            </div> 
                        </form>
                    </div>
                    {{ ckeditor.load() }}
 	                {{ ckeditor.config(name='body') }}
                </div>
        </div>
    {% endblock %}
    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>
</html>