<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    <header>
        <div class="top">
            <a href="{{  url_for('projects')  }}"><input type="button" value="Projects"></a>
            <a href="{{  url_for('login')  }}"><input type="button" value="Login"></a>
            <a href="{{  url_for('sign_up')  }}"><input type="button" value="Sign Up"></a>
            <a href="{{  url_for('socials')  }}"><input type="button" value="Socials"></a>
            <p style="color: aliceblue;">{{ user }}</p>
        </div>
    </header>

    <h1>WIP!! Coming Soon™</h1>
    <br>

    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>
</html>