<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    
    <div class="wrapper">
        {% for item in project_list %}
            <div class="content">
                <div class="card">
                    <h2>{{ item['project_name'] }}</h2>
                    <a href="{{ url_for('project', project_id=item['id']) }}">{{ item['project_name'] }}</a>
                    <hr>
                </div>
            </div>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {% endfor %}
    </div>
    {% endblock %}
    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>
</html>