<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary btn-lg" href="{{ url_for('project', project_id=id) }}">Project Home</a>
        <a class="btn btn-secondary btn-lg" href="">Test Runs</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('test_suites', project_id=id) }}">Test Suites</a>
    </div>

    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

    {% endfor %}

    <div class="wrapper">
        <div class="content">
            <div class="card">
                <h1>{{ project['project_name'] }}</h1>
            </div>
        </div>
    </div>


    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
    {% endblock %}
</body>
</html>