<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
  <title>QA Hub</title>
  <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>

<body>
  {% extends 'base.html' %}

  {% block content %}

  <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary btn-lg" href="{{ url_for('project', project_id=project_id) }}">Project Home</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('test_runs', project_id=project_id) }}">Test Runs</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('test_suites', project_id=project_id) }}">Test Suites</a>
    <a class="btn btn-secondary btn-lg" href="">Time Tracking</a>
  </div>

  {% for message in get_flashed_messages() %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {% endfor %}

  <div class="wrapper">

    <div class="content">
      <div class="card">
        <h1>{{ test_run.test_run_name }}</h1>
        {% for item in joined_results %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ colapse_list[loop.index -1] }}" aria-expanded="true"
                aria-controls="{{ colapse_list[loop.index -1] }}">
                {{ item[1].test_case_title }}
              </button>
            </h2>
            <div id="{{ colapse_list[loop.index -1] }}" class="accordion-collapse collapse"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p></p>
                <p>{{ item[1].test_case_preconditions|safe }}</p>
                <hr>
                <p>{{ item[1].test_case_body|safe }}</p>
                <hr>
                <p>{{ statuses_dic[item[0].test_status_id] }}</p>
                <hr>
                <p>{{ item[0].date_tested }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='body') }}
        </div>
      </div>
      {% endblock %}
</body>

</html>