<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary btn-lg" href="{{ url_for('project', project_id=project_id) }}">Project Home</a>
        <a class="btn btn-secondary btn-lg" href="">Test Runs</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('test_suites', project_id=project_id) }}">Test Suites</a>
        <a class="btn btn-secondary btn-lg" href="">Time Tracking</a>
    </div>

    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

    {% endfor %}
    
    <div class="wrapper">

            <div class="content">
                <div class="card">
                    <a class="btn btn-secondary btn-lg" href="{{ url_for('create_test_case', project_id=project_id, suite_id=suite_id) }}">Create Test Case</a>
                    <br>
                    <h1>{{ suite['test_suites_name'] }}</h1>
                </div>
                <div class="card">
                    <table class="table table-striped">
                    <!-- <table class="table table-dark table-striped"> -->
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Test Case Title</th>
                            <th scope="col">Feature</th>
                            <th scope="col">Author</th>
                            <th scope="col">Created On</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in test_cases_list %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td><a href="">{{ item['test_case_title'] }}</a></td>
                                <td>{{ features_dic[item['test_case_feature']] }}</td>
                                <td>{{ users_dic[item['test_case_author']] }}</td>
                                <td>{{ item['test_case_created_date'] }}</td>

                            </tr>
                            {{ ckeditor.load() }}
                            {{ ckeditor.config(name='body') }}
                            {% endfor %}
                    </tbody>
                </div>
            </div>
    </div>
    {% endblock %}
    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>
</html>