<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="wrapper">

            <div class="content">
                <div class="card">
                    <a href="{{ url_for('create_suite', project_id=id) }}"><input type="button" value="Create Test Suite"></a>
                    <br>
                    <h1>{{ project['project_name'] }}</h1>
                    <br>
                </div>
            </div>

        {% for item in test_suites_list %}
            <div class="content">
                <div class="card">
                    <h2>{{ item['test_suites_name'] }}</h2>
                    <h3>{{ item['test_suites_description'] }}</h3>

                    <hr>
                </div>
            </div>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {% endfor %}
    </div>
    {% endblock %}
    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>
</html>