<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/qahub-css/style.css') }}" />
    <title>QA Hub</title>
    <link rel="icon" href="{{ url_for('static',filename='styles/images/favicon.ico') }}">

</head>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary btn-lg" href="{{ url_for('project', project_id=project_id) }}">Project Home</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('test_runs', project_id=project_id) }}">Test Runs</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('test_suites', project_id=project_id) }}">Test Suites</a>
        <a class="btn btn-secondary btn-lg" href="">Time Tracking</a>
    </div>

    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    <div class="wrapper">

        <div class="content">
            <div class="card">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-secondary btn-lg" href="{{ url_for('create_run', project_id=project_id) }}">Create
                        Test Run</a>
                </div>
                <br>
                <h1>{{ project['project_name'] }}</h1>

                <br>
            </div>
        </div>
        {% for item in test_runs_list %}
        <div class="content">
            <div class="card">
                <h3><a href="">{{ item.test_run_name }}</a></h3>
                <hr>

                <table border="1" class="table table-dark table-striped">
                    <tr>
                        <th>Status ID</th>
                        <th>Count</th>
                    </tr>
                    {% for run_id, status_id, count in test_results_count if run_id == item.id %}
                    <tr>

                        <td>{{ statuses_dic[status_id] }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p><strong>Run Started On: </strong>{{ item.created_date }}</p>
            </div>
        </div>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {% endfor %}
    </div>
    {% endblock %}
    <footer>
        <p>© Copyright {{ year }}. Built by RedNoyz.</p>
    </footer>
</body>

</html>